.container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
}

.cup-button-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  margin-top: 20px; 
  width: 100%; 
}

.cup-button {
  padding: 10px 15px; 
  font-size: 1rem; 
  width: 100%; 
  max-width: 300px; 
  border: none; 
  border-radius: 5px; 
  background-color: #007bff; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.cup-button:disabled {
  background-color: #6c757d; /* Cor de fundo para botão desabilitado */
  cursor: not-allowed; /* Cursor padrão para botão desabilitado */
  opacity: 0.65; /* Reduz a opacidade do botão desabilitado */
}

.cup-button:hover:not(:disabled) {
  background-color: #0056b3; /* Cor do botão ao passar o mouse se não estiver desabilitado */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.cup-button:active:not(:disabled) {
  transform: scale(0.95); /* Efeito de pressionar o botão se não estiver desabilitado */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 70vh;
}

li {
  display: block;
  width: auto;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  ul {
    max-height: 50vh;
  }
}
